fastapi==0.66.0
uvicorn==0.14.0
mongoengine==0.23.1
geojson==2.5.0
firebase-admin==5.0.0
websockets==10.0
aioredis==2.0.0
sentry-sdk==1.5.1


# pytest==6.2.3
# pytest-cov==2.12.1
# locust==2.2.1
# autopep8==1.5.7
# tenacity==8.0.1
# python-multipart==0.0.5
# pillow==8.3.2

# ------------------
# SETUP
# ------------------
# python -m venv venv
# . venv/bin/activate
# pip install -r requirements.txt